<html>
    <!-- <%-include('main/header')%> 중복됨 수정 필요 -->
    <%-include('main/nav')%>
    <body>
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <!-- <div class="image_area">
                        <img src="<%= news[0].imgUrl%>" width="190" height="95">
                    </div> -->
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="<%= news[0].url%>"><%= news[0].title%></a></div>
                                <div class="h7 mb-0 font-weight-bold text-gray-800">
                                    <%= news[0].summary%>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    <a href="<%= news[1].url%>"><%= news[1].title%></a></div>
                                        <div class="h7 mb-0 font-weight-bold text-gray-800">
                                            <%= news[1].summary%>
                                        </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    <a href="<%= news[2].url%>"><%= news[2].title%></a>
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h7 mb-0 font-weight-bold text-gray-800">
                                            <%= news[2].summary%>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                     <a href="<%= news[3].url%>"><%= news[3].title%> </a></div>
                                     <div class="h7 mb-0 font-weight-bold text-gray-800">
                                        <%= news[3].summary%>
                                    </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>


    <!-- 공지사항 게시글 등록 폼 -->
    <div class="row">
        <button><a href="notice/noticeInsert.ejs">등록</button>
    </div>







    

    <%-include('notice/noticeInsert)%>
    <%-include('main/footer')%>
</html>