<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body {
        min-height: 100vh;

        /* background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%); */
        /* background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%); */
        }

        .input-form {
        max-width: 680px;

        margin-top: 80px;
        padding: 32px;

        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }
    </style>
    </head>
    <%-include('../main/header') %>
    <body>
      <form action="/user/<%=data.id%>?_method=patch" method="post">
        <div class="container">
            <div class="input-form-backgroud row">
              <div class="input-form col-md-12 mx-auto">
                <h4 class="mb-3">Status</h4>
                <form class="validation-form" novalidate>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="name">이름</label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="" value="<%=data.name%>" required>
                      <div class="invalid-feedback">
                        이름을 입력해주세요.
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="nickname">닉네임</label>
                      <input type="text" class="form-control" name="nickName" id="nickname" placeholder="" value="<%=data.nickName%>" required>
                      <div class="invalid-feedback">
                        별명을 입력해주세요.
                      </div>
                    </div>
                  </div>
        
                  <div class="mb-3">
                    <label for="email">이메일</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com" required value="<%=data.email%>">
                    <div class="invalid-feedback">
                      이메일을 입력해주세요.
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="email">비밀번호</label>
                    <input type="password" class="form-control" id="pwd1" name="password" placeholder="비밀번호를 입력해주세요" required>
                    <div class="invalid-feedback">
                    비밀번호를 입력해주세요.
                    </div>
                  </div>
            

            
                  <div class="mb-3">
                    <label for="email">비밀번호 확인</label>
                    <input type="password" class="form-control" id="pwd2" placeholder="비밀번호를 입력해주세요" required>
                    <div class="invalid-feedback">
                    비밀번호를 입력해주세요.
                    </div>
                  </div>
        
            
        
                  
        
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="root">부서</label>
                      <select class="custom-select d-block w-100" id="dept" name="dept">
                        <!-- <option value=""></option> -->
                        <% 
                        let dept = ['인사','경영','재무','개발'] 
                        for(let i = 0; i < dept.length;i++){
                      %>
                        <option value="<%= dept[i]%>"
                          <% if(data.dept == dept[i]){ %>
                            selected
                          <%}%>
                          ><%=dept[i]%></option>
                      <%}%>
                        <!-- <option value="인사">인사</option>
                        <option value="경영">경영</option>
                        <option value="재무">재무</option>
                        <option value="개발">개발</option> -->
                      </select>
                      <div class="invalid-feedback">
                        부서를 선택해주세요.
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="code">직급</label>
                      <select class="custom-select d-block w-100" id="position" name="position">

                        <% 
                          let position = ['사원','대리','과장','부장','인사','사장'] 
                          for(let i = 0; i < position.length;i++){
                        %>
                          <option value="<%= position[i]%>"
                            <% if(data.position == position[i]){ %>
                              selected
                            <%}%>
                            ><%=position[i]%></option>
                        <%}%>
                        <!-- <option value=""></option> -->
                        <!-- <option value="사원">사원</option>
                        <option value="대리">대리</option>
                        <option value="과장">과장</option>
                        <option value="부장">부장</option>
                        <option value="인사">인사</option>
                        <option value="사장">사장</option> -->
                      </select>
                      <div class="invalid-feedback">
                        부서를 선택해주세요.
                      </div>
                    </div>
                    
                </div>

                  <hr class="mb-4">
                  <div class="mb-4"></div>
                  <button id="userSubmit" class="btn btn-primary  btn-block" type="submit">변경 완료</button>
                  <% if(user.position == '사장' || user.position == '인사'){ %>
                    <button id="deleteButton" class="btn btn-primary  btn-block" type="submit">삭제</button>
                  <% } %>
                </form>
              </div>
            </div>
            <footer class="my-3 text-center text-small">
            </footer>
        </div>
      </form>
          <script>
            $('#userSubmit').click(function(){
              let pwd1 = document.getElementById('pwd1').value;
              let pwd2 = document.getElementById('pwd2').value;
              if(pwd1 == pwd2){
                return true;
              }else{
                alert('비밀번호 불일치');
                return false;
              }
            });

            $('#deleteButton').click(function(){
                var form = document.createElement("form");
                form.setAttribute("method", "POST");
                form.setAttribute("action", "/user/<%= data.id%>?_method=delete");
                document.body.appendChild(form);
                form.submit();
            });

            window.addEventListener('load', () => {
              const forms = document.getElementsByClassName('validation-form');
        
              Array.prototype.filter.call(forms, (form) => {
                form.addEventListener('submit', function (event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
        
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          </script>
    </body>
        <%-include('../main/footer') %>
    

</html>