
        <%-include('../main/header')%>
    <div class="container-fluid">
        <div>
            <h5 class="my-3 border-bottom pb-2">공지 수정</h5>
            <form method="post" action="/notice/<%= data.id%>?_method=patch">
                <div>
                    <label for="subject">제목</label>
                    <input type="text" class="form-control" name="subject" id="subject" value="<%= data.subject%>">
                </div>
                <div class="gorm-group">
                    <lable for="content">내용</lable>
                    <textarea class="form-control" name="text" id="content" rows="5"><%= data.text%></textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">저장하기</button>
            </form>
            <% if(user.position == '사장' || user.position == '인사'){ %>
                <button id="deleteButton" class="btn btn-primary">삭제</button>
              <% } %>
        </div>

    </div>
        <%-include('../main/footer')%>

        <script>
            $('#deleteButton').on('click',function(){
                var form = document.createElement("form");
                form.setAttribute("user_id", "<%= data.user_id%>");
                form.setAttribute("method", "POST");
                form.setAttribute("action", "/notice/<%= data.id%>?_method=delete");
                document.body.appendChild(form);
                form.submit();
            });
        </script>
    